<div class="bottombar">
    <div class="selected">
        <a href="javascript:void(0)">
            <img src="/assets/svg/bottombar/home.svg" title="Home" loading="lazy">
        </a>
    </div>
    <div>
        <a href="javascript:void(0)">
            <img src="/assets/svg/bottombar/map.svg" title="Places" loading="lazy">
        </a>
    </div>
    <div>
        <a href="javascript:void(0)">
            <img src="/assets/svg/bottombar/likes.svg" title="Favorites" loading="lazy">
        </a>
    </div>
    <div>
        <a href="javascript:void(0)">
            <img src="/assets/svg/bottombar/qr.svg" title="Scan" loading="lazy">
        </a>
    </div>
    <div>
        <a href="javascript:void(0)">
            <img src="/assets/svg/bottombar/person.svg" title="Me" loading="lazy">
        </a>
    </div>
</div>